In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

path = r'/home/nitr/Downloads/CS3072-Data-Comm-and-Computer-Networks-Laboratory/Lab_2/http_pcap_data.csv'

df = pd.read_csv(path)

In [3]:
df.head(5)

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,XiaomiCo_9e:9c:c3,Broadcast,ARP,42,Who has 192.168.43.153? Tell 192.168.43.1
1,2,0.000033,HonHaiPr_8c:90:55,XiaomiCo_9e:9c:c3,ARP,42,192.168.43.153 is at e0:06:e6:8c:90:55
2,3,3.587724,192.168.43.153,103.27.9.20,TCP,74,34573 > 80 [SYN] Seq=0 Win=14600 Len=0 MSS=1...
3,4,3.838451,192.168.43.153,192.168.43.1,DNS,74,Standard query 0x9f1d A www.iitd.ac.in
4,5,3.840562,192.168.43.1,192.168.43.153,DNS,90,Standard query response 0x9f1d A www.iitd.ac.i...

In [4]:
protocols = df['Protocol'].unique()
print(protocols)

['ARP' 'TCP' 'DNS' 'HTTP' 'TLSv1']

In [5]:
df_ip_addresses = df[['Source','Destination']]
df_ip_addresses.head(10)

              Source        Destination
0  XiaomiCo_9e:9c:c3          Broadcast
1  HonHaiPr_8c:90:55  XiaomiCo_9e:9c:c3
2     192.168.43.153        103.27.9.20
3     192.168.43.153       192.168.43.1
4       192.168.43.1     192.168.43.153
5     192.168.43.153        103.27.9.20
6        103.27.9.20     192.168.43.153
7     192.168.43.153        103.27.9.20
8     192.168.43.153        103.27.9.20
9        103.27.9.20     192.168.43.153

In [6]:
df_tcp = df[df['Protocol'] == 'TCP']
df_tcp.head()

,No.,Time,Source,Destination,Protocol,Length,Info
2,3,3.587724,192.168.43.153,103.27.9.20,TCP,74,34573 > 80 [SYN] Seq=0 Win=14600 Len=0 MSS=1...
5,6,3.840998,192.168.43.153,103.27.9.20,TCP,74,34574 > 80 [SYN] Seq=0 Win=14600 Len=0 MSS=1...
6,7,4.076460,103.27.9.20,192.168.43.153,TCP,74,"80 > 34574 [SYN, ACK] Seq=0 Ack=1 Win=14480 ..."
7,8,4.076497,192.168.43.153,103.27.9.20,TCP,66,34574 > 80 [ACK] Seq=1 Ack=1 Win=14720 Len=0...
9,10,4.080701,103.27.9.20,192.168.43.153,TCP,74,"80 > 34573 [SYN, ACK] Seq=0 Ack=1 Win=14480 ..."

In [7]:
import re

text = "0 > 34574 [SYN, ACK] Seq=0 Ack=1 Win=14480"
pattern = r'(\d+) > (\d+)'

match = re.search(pattern, text)
if match:
    value1, value2 = match.groups()

print(value1)

0

In [8]:
import re
pattern = r'(\d+)\s+>\s+(\d+)'

values = []

for index, row in df_tcp.iterrows():
    text = row['Info']
    match = re.search(pattern, text)
    if match:
        x, y = match.groups()
        values.append((x,y))



df_ports = pd.DataFrame(values, columns=['src_port','dest_port'])

df_ports.head()

  src_port dest_port
0    34573        80
1    34574        80
2       80     34574
3    34574        80
4       80     34573

In [12]:
df_http = df[df['Protocol'] == 'HTTP']['Info']
df_http.head(10)

8                                       GET / HTTP/1.1
20    GET /sites/default/files/ctools/css/2d4fe1c141...
31                         HTTP/1.1 200 OK  (text/html)
33               GET /modules/node/node.css?Y HTTP/1.1
36         GET /modules/system/defaults.css?Y HTTP/1.1
39     GET /modules/system/system-menus.css?Y HTTP/1.1
42           GET /modules/system/system.css?Y HTTP/1.1
45               GET /modules/user/user.css?Y HTTP/1.1
47                           HTTP/1.1 304 Not Modified
49    GET /sites/default/modules/calendar/calendar_m...
Name: Info, dtype: object